@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(32, 31, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .5rem 1rem;
    margin-top: 1rem;
    font-size: 3rem;
    border: rgb(255, 255, 255) dashed 4px;
    width: fit-content;
}

.name {
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-decoration: underline;
}

.list {
    display: flex;
    gap: 2rem;
}

input[type="checkbox"] {
    appearance: none;
}