:root {
    --clr-pc-primary: rgba(9, 123, 157, 0.8);
    --clr-pc-neutral-0 : rgb(0,0,0);
    --clr-pc-neutral-1 : rgb(255,255,255);
}

.product_card {
    background-color: white;
    max-width: 15rem;

    &-container {
        position: relative;

        &-img {
            width: 100%;
        }

        &-hovimg {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            scale: .9;
            transition: all .2s;
        }

        &-promo {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--clr-pc-primary);
            color: var(--clr-pc-neutral-1);
            text-transform: uppercase;
            padding: .5rem;
        }

        &-econ {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--clr-pc-primary);
            color: var(--clr-pc-neutral-1);
            text-transform: uppercase;
            padding: .5rem;
            width: 100%;
            text-align: center;
        }
    }

    &-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: .5rem;

        &-title {
            font-size: larger;
            text-align: center;
            font-weight: bold;
        }

        &-rating {
            display: flex;

            &-num {
                font-weight: bold;
            }
        }

        &-prices {
            display: flex;
            gap: .5rem;

            &-sold {
                text-decoration: line-through;
                font-size: large;
                display: none;
            }
        }
    }

    :hover .product_card {
        &-container {
            &-hovimg {
                opacity: 1;
                scale: 1;
            }

            &-econ {
                opacity: 1;
            }
        }
    }
}

.pc_sold .product_card {
    &-container {
        &-promo {
            display: block;
        }

        &-econ {
            display: block;
            opacity: 0;
        }
    }

    &-desc {
        &-prices {
            &-sold {
                display: block;
            }
        }
    }
}