.product_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 0 1rem;
}

@media (width >= 750px) {
    .product_grid {
        grid-template-columns: repeat(4, 1fr);   
    }
}